html,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px !important;
  background-color: hsl(30, 38%, 92%);
}

.product_card_list {
  height: 100%;
}

.product_card {
  /* background-color: white; */
}

.card_image {
  width: 10rem;
  content: url("./images/image-product-desktop.jpg");
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  /* height: 40%; */
}

.product_details_product {
  /* font-family: ; */
  letter-spacing: 0.3rem;
  color: #999999;
}
.product_details {
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.product_details_description {
  /* font-size: 0.7rem; */
  color: #999999;
}
.product_details_title {
  /* font-size: 1.2rem; */
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
}
.product_details_price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  /* font-size: 1.2rem; */
}

.product_details_price_striked_price {
  /* font-size: 0.8rem; */
  margin-left: 20px;
  font-family: "Fraunces", sans-serif;
  color: #999999;
  font-weight: 700;
}

.product_details_cart_button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
}
.product_details_cart_button:hover {
  background-color: #154734;
  color: hsl(0, 0%, 100%);
}
.product_details_cart_icon {
  margin-right: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 575px) {
  body {
    font-size: 1rem;
  }
  .product_card {
    flex-direction: column;
    align-items: center;
  }
  .card_image {
    width: 100%;
    content: url("./images/image-product-mobile.jpg");
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.5rem;
  }
  .product_details {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.5rem;
  }
}
